
@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


@foreach (var item in @Model.GetLatestFivePosts())
{
    <!--Section: News of the day-->
    <div class="row gx-5">
        

        <div class="col-md-6 mb-4">
            <h4><strong>@item.Title</strong></h4>
            <p class="text-muted">
                @item.description
            </p>
            <p>@item.date</p>
        </div>
    </div>

}